li a {
    color: green;
}

li {
    color: blue;
}

.centerwrapper {
    width: 50%;
    margin: 0 auto;
}

.cooltable {
    border-collapse: collapse;
}

.cooltableth {
    border-bottom: 1px solid black;
}

.cooltabletd {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.coloredformat {
    color: red
}

.actionbtn {
    width: 80px;
    height: 25px;
}