{% load static %}
{% load tz %}
<link rel="stylesheet" type="text/css" href="{% static 'tpw/style.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui/smoothness/jquery-ui.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'tpw/datetimepicker.css' %}"/>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/jquery-ui.js' %}"></script>
<script src="{% static 'tpw/datetimepicker.js' %}"></script>
<script src="{% static 'tpw/util.js' %}"></script>
<script>
    $(function() { $("#datepicker").datetimepicker(); });
</script>

<br/><br/>
<div class="centerwrapper">
    <h2>Add tweet:</h2>
    <br/>
    <form action="{% url 'tpw:updatetweet' tweet_id %}" method="post">
        <input type="submit" value="Add/Update"/>
        <a href="{% url 'tpw:listtweets' %}"><button type="button" id="cancelbutton">Cancel</button></a>
        <a href="{% url 'tpw:index' %}"><button type="button">Home</button></a>
        <br/><br/>
        {% csrf_token %}
        <table cellspacing="15">
            <tr>
                <td>
                    <label for="communityoption">Community</label>
                </td>
                <td>
                    <select id="communityoption" name="communityoption">
                        {% for comm in communities %}
                            <option value="{{ comm.id }}"
                                    {% if tweet and tweet.community.id == comm.id %}
                                    selected="selected"
                                    {% endif %}
                            >{{ comm.name }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="frequencyoption">Frequency</label>
                </td>
                <td>
                    <select id="frequencyoption" name="frequencyoption">
                        {% for freq in frequencies %}
                            <option value="{{ freq.id }}"
                                    {% if tweet and tweet.frequency.id == freq.id %}
                                    selected="selected"
                                    {% endif %}
                            >{{ freq.frequency }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="ruleoption">Rule</label>
                </td>
                <td>
                    <select id="ruleoption" name="ruleoption">
                        {% for rule in rules %}
                            <option value="{{ rule.id }}"
                                    {% if tweet and tweet.rule.id == rule.id %}
                                    selected="selected"
                                    {% endif %}
                            >{{ rule.title }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td><br/></td>
            </tr>
            <tr>
                <td></td>
                <td>Timezone is:
                    {% if timezone %}
                        {{ timezone }}
                    {% else %}
                        not set
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Start date</td>
                <td><input type="text" name="startdate" id="datepicker"
                           {% if tweet.start_date %}
                                value="{{ tweet.formatted_next_trigger }}"
                           {% endif %}
                /></td>
            </tr>
            <tr>
                <td>
                    <label for="requiredmessage"><b>Message</b></label>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <textarea name="requiredmessage" id="requiredmessage" cols="60" rows="4" maxlength="140">{% if tweet %}{{ tweet.message }}{% endif %}</textarea>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <b>Available tags:</b>
                    <br/>
                    <div id="resulttags">

                    </div>
                </td>
            </tr>
        </table>
        <br/><br/>
        <div align="left">
            <button id="btntesttweet" type="button">Test tweet!</button>
        </div>
        <br/>
        <div id="testingresult">

        </div>
    </form>
</div>