{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'tpw/style.css' %}"/>

<br/><br/>
<div class="centerwrapper">
<h1>Welcome to Tweets Control!</h1>
<br/>
<h2>You can perform the following:</h2>
</br>
<ul>
    <li><a href="{% url 'tpw:addtweet' %}">Add</a> new tweet</li>
    <li><a href="{% url 'tpw:listtweets' %}">View</a> current tweets</li>
    <li>View items in <a href="{% url 'tpw:outbox' %}">outbox</a></li>
    <li>View <a href="{% url 'tpw:tweetslog' %}">Log</a></li>
    <li><a href="{% url 'tpw:config' %}">Configure</a> database and twitter access</li>
    <br/>
    {% if authenticated %}
        <li>Manage <a href="{% url 'tpw:account' %}">account</a> settings</li>
        <li><a href="{% url 'tpw:logout' %}">Logout</a></li>
    {% else %}
        <li><a href="{% url 'tpw:login' %}">Login</a></li>
    {% endif %}
</ul>
</div>