<br/>
<h3>Message outbox</h3>
{% if ratelimit %}
<div style="float: right;">
    <font color="red">Rate limit reached - timeout {{ timeout }}</font>
</div>
{% endif %}
<br/>
<div align="right">
    {% if isrunning %}
    <font color="blue">Running</font>
    {% else %}
    <font color="red">Paused</font>
    {% endif %}
</div>
<br/>
<a href="{% url 'tpw:index' %}"><button type="button">Home</button></a>
<a href="{% url 'tpw:listtweets' %}"><button type="button">Tweets list</button></a>
<a href="{% url 'tpw:tweetslog' %}"><button type="button">Log</button></a>
<button id="btnpausesending" type="button" style="float: right;" onclick="pauseSending()">
    {% if isrunning %}
        Pause Sending
    {% else %}
        Resume sending
    {% endif %}
</button>
{% if outbox %}
<br/><br/><br/>
<table>
    <tr>
        <th class="cooltabletd">Id</th>
        <th class="cooltableth">Message</th>
        <th class="cooltableth">Action</th>
    </tr>
    {% for msg in outbox %}
    <tr>
        <td class="cooltabletd" align="center">{{ forloop.counter }}</td>
        <td class="cooltabletd">{{ msg.message }}</td>
        <td class="cooltabletd">
            <button type="button" id="btncanceltweet" onclick="cancelTweet({{ msg.id }})">Cancel</button>
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<br/><br/>
<ul>
<li><h3>Empty outbox</h3></li>
</ul>
{% endif %}