{% load tz %}
<br/>
<h3>Log</h3>
<br/>
{% if not log %}
<ul>
    <li>Empty</li>
</ul>
<br/>
{% endif %}
<a href="{% url 'tpw:index' %}"><button type="button">Home</button></a>
<a href="{% url 'tpw:listtweets' %}"><button type="button">Tweets list</button></a>
<a href="{% url 'tpw:outbox' %}"><button type="button">Outbox</button></a>
{% if log %}
<button type="button" onclick="clearLog()">Clear</button>
<br/><br/>
<table>
    <tr>
        <th class="cooltabletd">#</th>
        <th class="cooltableth">Succeeded</th>
        <th class="cooltableth">Date</th>
        <th class="cooltableth">Message</th>
        <th class="cooltableth">Error</th>
        <th class="cooltableth">Action</th>
    </tr>
    {% for entry in log %}
    <tr>
        <td class="cooltabletd" align="center">{{ forloop.counter }}</td>
        <td class="cooltabletd" align="center">
            <font {% if not entry.error_message %}
                        color="green">Yes
                    {% else %}
                        color="red">No
                    {% endif %}
            </font>
        </td>
        <td class="cooltabletd" width="200">{{ entry.formatted_date }}</td>
        <td class="cooltabletd">{{ entry.message }}</td>
        <td class="cooltabletd" width="100" align="center">{{ entry.error_message }}</td>
        <td class="cooltabletd">
            <button type="button" onclick="resendTweet({{ entry.id }})">Resend</button>
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}
<br/>